In [1]:
!python --version   # Python version

# About python:  https://www.python.org/
#                Python is powerful... and fast; plays well with others; runs everywhere; is friendly & easy to learn; 
#                is Open –> https://www.python.org/about/.
#     Python docs: https://docs.python.org/3/ (all documentation); 
#                  https://docs.python.org/3.7/ (Recommended version – 3.7). 
# The Python Tutorial (python3.7): https://docs.python.org/3.7/tutorial/index.html 

# Load Module ---
import numpy as np, pandas as pd
# NumPy : The fundamental package for scientific computing with Python. NumPy is the fundamental package for scientific 
#         computing in Python. It is a Python library that provides a multidimensional array object, various derived 
#         objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, 
#         including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms,
#         basic linear algebra, basic statistical operations, random simulation and much more.
#     About: https://numpy.org/
#     Docs: https://numpy.org/doc/stable/
#     NumPy quickstart: https://numpy.org/doc/stable/user/quickstart.html

# Pandas: pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, 
#         built on top of the Python programming language.
#     About: https://pandas.pydata.org/ 
#     Docs: https://pandas.pydata.org/docs/ 
#     Getting started: https://pandas.pydata.org/docs/getting_started/index.html 
#     User Guide: https://pandas.pydata.org/docs/user_guide/index.html#user-guide 

print('numpy version:',np.__version__)
print('pandas version: ',pd.__version__)

Python 3.7.10
numpy version: 1.19.5
pandas version:  1.1.5

# About Dataset – Stock Portfolio Performance

The dataset of performances of weighted scoring stock portfolios are obtained with mixture design from the US stock market historical database. 

Dataset source (UCI Machine Learning Repository):	 https://archive.ics.uci.edu/ml/datasets/Stock+portfolio+performance

Dataset download link: [stock portfolio performance data set.xlsx](https://archive.ics.uci.edu/ml/machine-learning-databases/00390/stock%20portfolio%20performance%20data%20set.xlsx)

In [2]:
column_dict={'ID':'id',
             ' Large B/P ':'bp_large',
             ' Large ROE ':'roe_large',
             ' Large S/P ':'sp_large',
             ' Large Return Rate in the last quarter ':'ror_large_last_quarter',
             ' Large Market Value ':'mv_large',
             ' Small systematic Risk':'systematic_risk_small',
             'Annual Return':'annual_return',
             'Excess Return':'excess_return',
             'Systematic Risk':'systemtic_risk_actual',
             'Total Risk':'total_risk',
             'Abs. Win Rate':'abs_win_rate',
             'Rel. Win Rate':'relative_win_rate',
             'Annual Return.1':'annual_return_norm',
             'Excess Return.1':'excess_return_norm',
             'Systematic Risk.1':'systemtic_risk_actual_norm',
             'Total Risk.1':'total_risk_norm',
             'Abs. Win Rate.1':'abs_win_rate_norm',
             'Rel. Win Rate.1':'relative_win_rate_norm'}
# sort by key dict
#sorted(column_dict.items(), key=lambda kv: column_dict[kv[0]])
# key by value - example 'bp_large'
#[k for k,v in column_dict.items() if v == 'bp_large']

## manipulate data

In [3]:
#!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00390/stock%20portfolio%20performance%20data%20set.xlsx

# Read dataset 
data_file_link_xlsx='https://archive.ics.uci.edu/ml/machine-learning-databases/00390/stock%20portfolio%20performance%20data%20set.xlsx'
data=pd.read_excel(data_file_link_xlsx,sheet_name='4th period',header=1)
data.rename(index=None,columns=column_dict,axis=None,copy=True,inplace=True)
data.tail()

    id  bp_large  ...  abs_win_rate_norm  relative_win_rate_norm
58  59     0.200  ...               0.56                0.666667
59  60     0.200  ...               0.68                0.600000
60  61     0.200  ...               0.56                0.466667
61  62     0.000  ...               0.68                0.666667
62  63     0.167  ...               0.56                0.800000

[5 rows x 19 columns]

In [4]:
# sample function 
def change_(value):
  return str(round(value*100,4))+'%'

# manipulate -> annual return 
for manipulate_column in ['annual_return','excess_return']:
  data[manipulate_column]=data[manipulate_column].apply(change_,convert_dtype=True,args=())

# Drop all normalized columns 
data.drop(columns=data.columns[-6:],inplace=True)

data.tail()

    id  bp_large  roe_large  ...  total_risk  abs_win_rate  relative_win_rate
58  59     0.200      0.200  ...    0.100845          0.55               0.65
59  60     0.200      0.200  ...    0.092028          0.60               0.60
60  61     0.200      0.000  ...    0.118172          0.55               0.50
61  62     0.000      0.200  ...    0.100601          0.60               0.65
62  63     0.167      0.167  ...    0.104970          0.55               0.75

[5 rows x 13 columns]

In [5]:
# delete random values, fill with random.choice([np.nan,'?',None])
for manipulate_column in data.columns[1:7]: # ['bp_large','roe_large','sp_large','ror_large_last_quarter','mv_large','systematic_risk_small']
  # change column type to str for '?'
  data[manipulate_column]=data[manipulate_column].astype(np.str)
  # manipulate randomly 3 or 4 values 
  manipulate_at_=np.random.choice(range(data.shape[0]),size=np.random.randint(3,5))
  print('In',manipulate_column,'at',manipulate_at_)
  for at_value in manipulate_at_: 
    data.at[at_value,manipulate_column]=np.random.choice([np.nan,'?',None])

In bp_large at [53 22 42 49]
In roe_large at [ 4 57  2 52]
In sp_large at [19 14 43  9]
In ror_large_last_quarter at [11  5 17]
In mv_large at [45 31 57]
In systematic_risk_small at [30 35 44]

### see changes

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      63 non-null     int64
 1   bp_large                59 non-null     object
 2   roe_large               60 non-null     object
 3   sp_large                60 non-null     object
 4   ror_large_last_quarter  61 non-null     object
 5   mv_large                61 non-null     object
 6   systematic_risk_small   61 non-null     object
 7   annual_return           63 non-null     object
 8   excess_return           63 non-null     object
 9   systemtic_risk_actual   63 non-null     float64
 10  total_risk              63 non-null     float64
 11  abs_win_rate            63 non-null     float64
 12  relative_win_rate       63 non-null     float64
dtypes: float64(4), int64(1), object(8)
memory usage: 6.5+ KB

In [7]:
data.isna().sum()

id                        0
bp_large                  4
roe_large                 3
sp_large                  3
ror_large_last_quarter    2
mv_large                  2
systematic_risk_small     2
annual_return             0
excess_return             0
systemtic_risk_actual     0
total_risk                0
abs_win_rate              0
relative_win_rate         0
dtype: int64

In [8]:
# see manipulation 
for manipulate_column in data.columns[1:7]:
  print(manipulate_column,': ',data[manipulate_column].unique(),'\n','-X-'*30,sep='')

bp_large: ['1.0' '0.0' '0.5' '0.333' nan '0.25' None '0.2' '0.167']
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
roe_large: ['0.0' '1.0' nan None '0.5' '0.333' '0.25' '?' '0.2' '0.167']
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sp_large: ['0.0' '1.0' '0.5' None '?' '0.333' '0.25' '0.2' '0.167']
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
ror_large_last_quarter: ['0.0' '1.0' nan '0.5' None '?' '0.333' '0.25' '0.2' '0.167']
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
mv_large: ['0.0' '1.0' '0.5' '0.333' None '0.25' '0.2' '?' '0.167']
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
systematic_risk_small: ['0.0' '1.0' '0.5' '?' '0.333' None nan '0.25' '0.2' '0.167']
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-

### save changes

In [9]:
data.rename(columns=dict([(v,k) for k,v in column_dict.items()]),inplace=True)
# save file
data.to_csv('manipulate_data.csv')
# save columns dict
pd.Series(data=column_dict.values(),index=column_dict.keys(),dtype=None,name='column_dict').to_csv('column_dict.csv')
# to Read
#dict(pd.read_csv('/content/column_dict.csv').values)

## manipulate data - all sheets

In [10]:
# Read all sheets 
total_sheets=6

#!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00390/stock%20portfolio%20performance%20data%20set.xlsx
data_file_link_xlsx='https://archive.ics.uci.edu/ml/machine-learning-databases/00390/stock%20portfolio%20performance%20data%20set.xlsx'

# sheet list
sheet_list=list()

for sheet in range(total_sheets-1):
  # Read dataset 
  sheet_list.append(pd.read_excel(data_file_link_xlsx,sheet_name=sheet,header=1))

# 3d dataframe 
data3d=pd.concat(sheet_list,axis=0,keys=['sheet_'+str(sheet) for sheet in range(total_sheets)])
# rename columns 
data3d.rename(index=None,columns=column_dict,axis=None,copy=True,inplace=True)
# see
data3d.head(3)

           id  bp_large  ...  abs_win_rate_norm  relative_win_rate_norm
sheet_0 0   1       1.0  ...               0.68                0.333333
        1   2       0.0  ...               0.56                0.666667
        2   3       0.0  ...               0.56                0.466667

[3 rows x 19 columns]

In [11]:
data3d.tail(3)

            id  bp_large  ...  abs_win_rate_norm  relative_win_rate_norm
sheet_4 60  61     0.200  ...               0.52                0.411765
        61  62     0.000  ...               0.60                0.800000
        62  63     0.167  ...               0.68                0.800000

[3 rows x 19 columns]

In [12]:
# get shape
data3d.shape

(315, 19)

### indexing

In [13]:
# indexs
data3d.index
# see for loc - https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#advanced-indexing-with-hierarchical-index
# for more info -  https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

MultiIndex([('sheet_0',  0),
            ('sheet_0',  1),
            ('sheet_0',  2),
            ('sheet_0',  3),
            ('sheet_0',  4),
            ('sheet_0',  5),
            ('sheet_0',  6),
            ('sheet_0',  7),
            ('sheet_0',  8),
            ('sheet_0',  9),
            ...
            ('sheet_4', 53),
            ('sheet_4', 54),
            ('sheet_4', 55),
            ('sheet_4', 56),
            ('sheet_4', 57),
            ('sheet_4', 58),
            ('sheet_4', 59),
            ('sheet_4', 60),
            ('sheet_4', 61),
            ('sheet_4', 62)],
           length=315)

In [14]:
data3d.loc[('sheet_0')].head() # all values of sheet zero

   id  bp_large  ...  abs_win_rate_norm  relative_win_rate_norm
0   1       1.0  ...               0.68                0.333333
1   2       0.0  ...               0.56                0.666667
2   3       0.0  ...               0.56                0.466667
3   4       0.0  ...               0.56                0.266667
4   5       0.0  ...               0.80                0.733333

[5 rows x 19 columns]

In [15]:
data3d.loc[('sheet_0',7)] # sheet zer0, seven index

id                            8.000000
bp_large                      0.500000
roe_large                     0.000000
sp_large                      0.500000
ror_large_last_quarter        0.000000
mv_large                      0.000000
systematic_risk_small         0.000000
annual_return                 0.061700
excess_return                 0.023370
systemtic_risk_actual         1.939118
total_risk                    0.218238
abs_win_rate                  0.600000
relative_win_rate             0.500000
annual_return_norm            0.655017
excess_return_norm            0.753942
systemtic_risk_actual_norm    0.800000
total_risk_norm               0.798371
abs_win_rate_norm             0.680000
relative_win_rate_norm        0.466667
Name: (sheet_0, 7), dtype: float64

In [16]:
data3d.loc[(('sheet_0','sheet_3'),(3,6,7)),:] # sheet zer0, 3, seven index -> ((sheet tuple),(rows)),columns

           id  bp_large  ...  abs_win_rate_norm  relative_win_rate_norm
sheet_0 3   4       0.0  ...               0.56                0.266667
        6   7       0.5  ...               0.56                0.666667
        7   8       0.5  ...               0.68                0.466667
sheet_3 3   4       0.0  ...               0.32                0.500000
        6   7       0.5  ...               0.80                0.650000
        7   8       0.5  ...               0.56                0.350000

[6 rows x 19 columns]

### do manipulate data

In [17]:
# sample function 
def change_(value):
  return str(round(value*100,4))+'%'

# manipulate -> annual return 
for manipulate_column in ['annual_return','excess_return']:
  data3d[manipulate_column]=data3d[manipulate_column].apply(change_,convert_dtype=True,args=())

# Drop all normalized columns 
data3d.drop(columns=data3d.columns[-6:],inplace=True)

data3d.tail()

            id  bp_large  ...  abs_win_rate  relative_win_rate
sheet_4 58  59     0.200  ...         0.700              0.638
        59  60     0.200  ...         0.725              0.638
        60  61     0.200  ...         0.663              0.525
        61  62     0.000  ...         0.688              0.663
        62  63     0.167  ...         0.713              0.663

[5 rows x 13 columns]

In [18]:
# manuplate each sheet
for sheet in range(total_sheets-1):
  # delete random values, fill with random.choice([np.nan,'?',None])
  for manipulate_column in data3d.columns[1:7]: # ['bp_large','roe_large','sp_large','ror_large_last_quarter','mv_large','systematic_risk_small']
    # change column type to str for '?'
    #data3d.loc['sheet_'+str(sheet)][manipulate_column]=data3d.loc['sheet_'+str(sheet)][manipulate_column].astype(np.str)
    # manipulate randomly 3 or 4 values 
    manipulate_at_=np.random.choice(range(data3d.shape[0]//(total_sheets-1)),size=np.random.randint(3,5))
    print('In sheet_'+str(sheet)+' in column ',manipulate_column,'at',manipulate_at_)
    for at_value in manipulate_at_:
      data3d.at[('sheet_'+str(sheet),at_value),manipulate_column]=np.nan

In sheet_0 in column  bp_large at [30 59 26 30]
In sheet_0 in column  roe_large at [47 37  1]
In sheet_0 in column  sp_large at [14 51 62 25]
In sheet_0 in column  ror_large_last_quarter at [60 28 22]
In sheet_0 in column  mv_large at [21 47  9]
In sheet_0 in column  systematic_risk_small at [ 3 41 23 44]
In sheet_1 in column  bp_large at [17 51  0]
In sheet_1 in column  roe_large at [38  8 43]
In sheet_1 in column  sp_large at [50 52  0]
In sheet_1 in column  ror_large_last_quarter at [28  5 44 39]
In sheet_1 in column  mv_large at [25 60 13]
In sheet_1 in column  systematic_risk_small at [ 0 35 12  6]
In sheet_2 in column  bp_large at [60 59 30 50]
In sheet_2 in column  roe_large at [45 33 11  5]
In sheet_2 in column  sp_large at [54 37 23]
In sheet_2 in column  ror_large_last_quarter at [16 38 51]
In sheet_2 in column  mv_large at [30 27 54]
In sheet_2 in column  systematic_risk_small at [51  8 31]
In sheet_3 in column  bp_large at [28 52 62 56]
In sheet_3 in column  roe_large at [39 13  6]
In sheet_3 in column  sp_large at [30 54 41]
In sheet_3 in column  ror_large_last_quarter at [55 26 21]
In sheet_3 in column  mv_large at [47  4  0 10]
In sheet_3 in column  systematic_risk_small at [23  1 60]
In sheet_4 in column  bp_large at [18 59  5 55]
In sheet_4 in column  roe_large at [31 49 37]
In sheet_4 in column  sp_large at [41  2 23]
In sheet_4 in column  ror_large_last_quarter at [24 49 26 48]
In sheet_4 in column  mv_large at [55 10 11  0]
In sheet_4 in column  systematic_risk_small at [16 62 57 44]

### see changes

In [19]:
data3d.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 315 entries, ('sheet_0', 0) to ('sheet_4', 62)
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      315 non-null    int64
 1   bp_large                297 non-null    float64
 2   roe_large               299 non-null    float64
 3   sp_large                299 non-null    float64
 4   ror_large_last_quarter  298 non-null    float64
 5   mv_large                298 non-null    float64
 6   systematic_risk_small   297 non-null    float64
 7   annual_return           315 non-null    object
 8   excess_return           315 non-null    object
 9   systemtic_risk_actual   315 non-null    float64
 10  total_risk              315 non-null    float64
 11  abs_win_rate            315 non-null    float64
 12  relative_win_rate       315 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 43.0+ KB

In [20]:
data3d.isna().sum()

id                         0
bp_large                  18
roe_large                 16
sp_large                  16
ror_large_last_quarter    17
mv_large                  17
systematic_risk_small     18
annual_return              0
excess_return              0
systemtic_risk_actual      0
total_risk                 0
abs_win_rate               0
relative_win_rate          0
dtype: int64

In [21]:
# see manipulation 
for sheet in range(total_sheets-1):
  for manipulate_column in data3d.columns[1:7]:
    print('sheet_'+str(sheet),':: column:',manipulate_column,': ',data3d.loc['sheet_'+str(sheet)][manipulate_column].unique(),'\n','-X-'*30,sep='')

sheet_0:: column:bp_large: [1.    0.    0.5   0.333   nan 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_0:: column:roe_large: [0.      nan 0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_0:: column:sp_large: [0.    1.    0.5     nan 0.333 0.25  0.2  ]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_0:: column:ror_large_last_quarter: [0.    1.    0.5     nan 0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_0:: column:mv_large: [0.    1.      nan 0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_0:: column:systematic_risk_small: [0.      nan 1.    0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_1:: column:bp_large: [  nan 0.    0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_1:: column:roe_large: [0.    1.    0.5     nan 0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_1:: column:sp_large: [  nan 0.    1.    0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_1:: column:ror_large_last_quarter: [0.    1.      nan 0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_1:: column:mv_large: [0.    1.    0.5     nan 0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_1:: column:systematic_risk_small: [  nan 0.    1.    0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_2:: column:bp_large: [1.    0.    0.5   0.333   nan 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_2:: column:roe_large: [0.    1.      nan 0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_2:: column:sp_large: [0.    1.    0.5   0.333   nan 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_2:: column:ror_large_last_quarter: [0.    1.    0.5     nan 0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_2:: column:mv_large: [0.    1.    0.5   0.333   nan 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_2:: column:systematic_risk_small: [0.    1.      nan 0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_3:: column:bp_large: [1.    0.    0.5   0.333   nan 0.25  0.2  ]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_3:: column:roe_large: [0.    1.      nan 0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_3:: column:sp_large: [0.    1.    0.5   0.333   nan 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_3:: column:ror_large_last_quarter: [0.    1.    0.5     nan 0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_3:: column:mv_large: [  nan 0.    0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_3:: column:systematic_risk_small: [0.      nan 1.    0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_4:: column:bp_large: [1.    0.      nan 0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_4:: column:roe_large: [0.    1.    0.5   0.333   nan 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_4:: column:sp_large: [0.      nan 0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_4:: column:ror_large_last_quarter: [0.    1.    0.5   0.333   nan 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_4:: column:mv_large: [  nan 0.    1.    0.5   0.333 0.25  0.2   0.167]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-
sheet_4:: column:systematic_risk_small: [0.    1.      nan 0.5   0.333 0.25  0.2  ]
-X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X--X-

### save

In [22]:
# see - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html

# old names to columns 
data3d.rename(columns=dict([(v,k) for k,v in column_dict.items()]),inplace=True)

# write exel file with multiple sheets 
with pd.ExcelWriter('execl_data.xlsx',mode='w') as excel_writer: # also mode='a
   for sheet in range(total_sheets-1):
     data3d.loc['sheet_'+str(sheet)].to_excel(excel_writer,sheet_name='sheet_'+str(sheet))

# End of File -xxx-